<%- include("./header.ejs") %>

    <nav class="navbar">
        <div class="brand-name">
            <a href="/adminhome">BookFlip Admin</a>
        </div>
        <div class="nav-menu">
            <div class="nav-list-section">

                <ul class="nav-list">
                    <li><a href="/admin/listproducts">List products</a></li>
                    <li><a href="/admin/listorders">List Orders</a></li>
                    <button type="submit" class="admin-btn"><a href="/adminlogout">Logout</a></button>
                </ul>
            </div>
        </div>
    </nav>